    * {
        font-family: 'Jua', sans-serif;
    }

     /* background 색 입히기 css */
    html {
        background: #f5f5f5;
    }

    body {
        background: #f5f5f5;
    }

     /* 메인 로고 css */
    .title {
        font-family: 'NanumGoDigANiGoGoDing';
        font-size: 40px;
        width: 100px;
        height: 25px;

    }

     /* Login, Logout, my page 버튼 css */
    .button {
        width: 80px;
        font-size: 15px;
        padding: 10px;
    }

     /* 상단 메뉴 css */
    .hero {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }