<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Make A Plane</title>

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/NanumGoDigANiGoGoDing.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='mainstyle.css') }}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <style>

        {# 메인 로그 css #}
        .design {
            font-family: 'Jua', sans-serif;
            font-size: 20px;
            height: 35px;
            width: 100px;
            margin: 10px auto 0px auto;
            border: 3px solid white;
            border-radius: 10px;
        }

        {# 검색창 Backgtound img css #}
        .field_background {
            background-image: url("{{ url_for('static', filename='index_backdrop_img.jpg') }}");
            background-size: cover;
            background-position: center;
            padding-top: 300px;
            padding-bottom: 60px;
        }

        {# 카드 위지조정 #}
        .card_tool {
            width: 2000px;
            margin: auto;
        }

        {# 카드 틀 css #}
        .card {
            width: 350px;
            height: 410px;
        }

        {# 지도이미지 css #}
        .is-4by3 {
            width: 300px;
            height: 300px;
            margin: auto;
            display: block;
        }

        {# 카드 제목 css #}
        .is-three-quarters {
            width: 300px;
            padding-left: 35px;
            margin-right: 5px;
            font-size: 18px;

        }

        {# a 하이퍼링크 검정색으로 변환 #}
        a:link {
            color: black;
        }


    </style>

    <script>

        $(document).ready(function () {
            console.log('{{ status }}')
            if ('{{ status }}' == 'yes') {
                $("#loginbtn").hide();
                $("#logoutbtn").show();
                $("#mypagebtn").show();
            } else {
                $("#loginbtn").show();
                $("#logoutbtn").hide();
                $("#mypagebtn").hide();
            }
        })

        function logout(){
            $.removeCookie('mytoken');
            alert('로그아웃!')
            window.location.reload()
        }

        function go_plan(){
            if ('{{ status }}' == 'yes'){
                window.location.href = '/plan'
            }
            else{
                alert('로그인 해주세요')
                window.location.href = '/login'
            }
        }

        $(document).ready(function () {
            plane_cards();
        });

        function plane_cards() {
             $('#cards').empty()
            $.ajax({
                type: "GET",
                url: "/trip/posts/read",
                data: {},
                success: function (plane_cards) {
                    let card = plane_cards['result']
                    for (let i = 0; i < card.length; i++) {
                        let card_img = card[i]['img']
                        let title = card[i]['title']
                        let like = card[i]['like']
                        let postid = card[i]['postid']


                        let temp_html = `<div class="card" style="margin: 5px 40px 65px 40px; float:left;">
                                            <div class="card-content">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <figure class="image is-4by3">
                                                            <a href="/detail/${postid}">
                                                                <img class="car_img" src="../static/${card_img}"
                                                                     alt="Placeholder image"/>
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="columns">
                                                {# detail 카드 제목 #}
                                                <p class="is-three-quarters"><a href="/detail/${postid}">${title}</a></p>
                                                {# detail 좋아요 아이콘 #}
                                                <a>
                                                    <img class="like" src="{{ url_for('static', filename='like-fill.png') }}"
                                                         style="width: 20px; height: 20px"/>${like}
                                                </a>
                                            </div>
                                        </div>`
                        $('#cards').append(temp_html)

                    }
                }
            })
        }

        function check_local() {
            $('#cards').empty()
            let local = $("#input-local").val();

            console.log(local)
            $.ajax({
                type: "GET",
                url: "/trip/index/read",
                data: {give_local: local},
                success: function (response) {
                    console.log(response['result'])
                    let card = response['result']
                    for (let i = 0; i < card.length; i++) {
                        let card_img = card[i]['img']
                        let title = card[i]['title']
                        let like = card[i]['like']
                        let postid = card[i]['postid']


                        let temp_html = `<div class="card" style="margin: 5px 40px 65px 40px; float:left;">
                                            <div class="card-content">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <figure class="image is-4by3">
                                                            <a href="/detail/${postid}">
                                                                <img class="car_img" src="../static/${card_img}"
                                                                     alt="Placeholder image"/>
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="columns">
                                                {# detail 카드 제목 #}
                                                <p class="is-three-quarters"><a href="/detail/${postid}">${title}</a></p>
                                                {# detail 좋아요 아이콘 #}
                                                <a>
                                                    <img class="like" src="{{ url_for('static', filename='like-fill.png') }}"
                                                         style="width: 20px; height: 20px"/>${like}
                                                </a>
                                            </div>
                                        </div>`
                        $('#cards').append(temp_html)
                    }
                }
            })

        }

    </script>


</head>
<body  >
{# 윗 메뉴 바 #}
<div class="hero is-small is-primary">
    <div class="hero-body has-text-centered">
        <a class="title is-sparta" style="float:left" href="/">MAP</a>

        <a href="/login">
            <button id='loginbtn' class="button is-primary is-light" style="float:right">Login</button>
        </a>
        <button id='logoutbtn' onclick="logout()" class="button is-primary is-light" style="float:right">Logout</button>
        <a href="/mypage"><button id='mypagebtn' class="button is-primary is-light" style="float:right; margin-right: 5px">my page</button></a>
        <p class="design is-sparta" onclick="go_plan()"><a href="#">여행설계</a></p>
    </div>
</div>

{# 검색창 #}
<div class="field has-addons field_background">
    <div class="control" style="margin:auto;">
        <input id = "input-local" class="input" style="width: 700px; height: 40px;" type="text" placeholder="지역을 입력하세요">
        <buttun class="button is-info" onclick="check_local()" style="height: 40px; float:right;">검색</buttun>
    </div>
</div>


{# 리모컨 #}
{#        <nav class="breadcrumb is-centered" aria-label="breadcrumbs">#}
{#            <ul>#}
{#                <a href="#">Bulma</a>#}
{#                <a href="#">Documentation</a>#}
{#                <a href="#">Components</a>#}
{#            </ul>#}
{#        </nav>#}

{# detail 카드 #}
<div class="card_tool" id="cards" style="width: 1350px; height: auto; margin: auto;">
</div>
</body>
</html>

