<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Make A Plane</title>

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/NanumGoDigANiGoGoDing.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='mainstyle.css') }}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/NanumJungHagSaeng.css" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/NanumBaeEunHyeCe.css" rel="stylesheet">
    <style>

        * {
            font-family: 'NanumBaeEunHyeCe';
        }

        {# a 하이퍼링크 검정색으로 변환 #}
        a:link {
            color: black;
        }

        {# 카드 틀 css#}
        .card-box {
            width: 320px;
            height: auto;
            margin: 20px;
            padding: 20px;
            border: 5px solid #c3c8cd;
            border-radius: 15px;

        }

        {# card 이미지 css #}
        .card-image {
            width: 250px;
            height: 250px;
            margin: auto;
            display: block;
        }

        {# card 삭제, 저장 #}
        .card-footer-item {
            margin-bottom: -20px;
            font-size: 25px;
        }

        {# a 하이퍼링크 검정색으로 변환 #}
        a:link {
            color: black;
        }

        {# 카드 자동 정렬 #}
        .cards {
            display: flex;
            flex-wrap: wrap;
        }

    </style>

    <script>

        function logout(){
            $.removeCookie('mytoken');
            alert('로그아웃!')
            window.location.href = '/'
        }

        function delete_word(postid) {
            $.ajax({
                type: "POST",
                url: `/trip/posts/delete`,
                data: {
                    postid : postid,
                },
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                }
            });
        }

        $(document).ready(function () {
            get_mypost();
        });

        {#내가 작성한 글 불러오기 #}
        function get_mypost() {
           // if (username == undefined)
           // username == ""
           // console.log(username)

            $.ajax({
                type: "GET",
                url: '/mypage/getmypost',
                data: {},
                success: function (response) {
                    let rows = response['mypost']
                    for (let i = 0; i < rows.length; i++) {
                        let title = rows[i]['title']
                        let postid = rows[i]['postid']
                        let img = rows[i]['img']
                        console.log(rows)   // 콘솔에 출력됨
                         //card-image 에 onclick 넣어서 상세페이지로 이동하게 만들기

                        let temp_html = `<div class="card-box box">
                                            <div class="mycards">
                                                <div class="card-image">
                                                    <figure class="image is-1by1">
                                                        <a href="/detail/${postid}">
                                                        <img src="../static/${img}" alt="Placeholder image" />
                                                    </figure>
                                                </div>
                                                <div class="card-content">
                                                    <div class="media" style="padding-bottom: 15px">
                                                        <div class="media-content">
                                                            <p class="post-title" style="font-size: 40px">${title}</p>
                                                        </div>
                                                    </div>
                                                    <footer class="card-footer">
                                                        <!--                    편집 삭제 onclick 지정해주기-->
                                                        <a href="#" class="card-footer-item" onclick="">수정</a>
                                                        <a href="#" class="card-footer-item" onclick="delete_word(${postid})">삭제</a>
                                                    </footer>
                                                </div>
                                            </div>
                                        </div>`
                        $('#card-box').append(temp_html)
                    }
                }
            });
        }

    </script>


</head>
<body>
{# 윗 메뉴 바 #}
<div class="hero is-small is-primary">
    <div class="hero-body has-text-centered">
        <a class="title is-sparta" style="float:left" href="/">MAP</a>
        </a>
        <button id='logoutbtn' onclick="logout()" class="button is-primary is-light" style="float:right">Logout</button>
    </div>
</div>
<div class="box" style="margin: 178px 80px auto 80px">
    <h1 style="font-size: 50px; text-align: center" id="idname">{{ id }}의 마이 페이지 입니다</h1>
    <hr style="background: #c0c0c0">
    <div class="cards" id="card-box">
    </div>

</div>


</body>
</html>

