<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Make A Plane</title>

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/NanumGoDigANiGoGoDing.css" rel="stylesheet">
{#    <link href="{{ url_for('static', filename='mainstyle.css') }}" rel="stylesheet">#}
    <style>
        .mycards {
            margin: 200px 150px;
            /*margin: 10px auto 0px auto;*/
            width: 25%;
            height: 25%;
            width: 350px;
            height: 410px;
        }

        .card-image {
            width: 25%;
            height: 25%;
            float: right;
        }

    </style>


    <script>
        // 프로필 페이지에서는 username 있는 상태로 get_mypost를 불러옴
        $(document).ready(function () {
            get_mypost();
        })
        // 프로필 수정 (사진, 닉네임)
        function update_profile() {

            let name = $('#input-name').val()
            let file = $('#input-pic')[0].files[0]
            let form_data = new FormData()
            form_data.append("file_give", file)
            form_data.append("name_give", name)
            console.log(name, file, form_data)

            $.ajax({
                type: "POST",
                url: "/trip/mypage/update",
                data: form_data,
                cache: false,
                contentType: false,
                success: function (response) {
                    if (response['result'] == "success") {
                        alert(response["msg"])
                        window.location.reload()
                    }
                }
            });
        }

        {#내가 작성한 글 불러오기 #}
        function get_mypost() {
            {#if (username == undefined) {#}
            {#    username == ""#}
            {#console.log(username)#}

            $("#card-box").empty()
            $.ajax({
                type: "GET",
                url: '/mypage/getmypost',
                data: {},
                success: function (response) {
                    let rows = response['mypost']
                    for (let i = 0; i < rows.length; i++) {
                        let title = rows[i]['title']
                        let postid = rows[i]['postid']
                        let img = rows[i]['img']
                        console.log(rows)   // 콘솔에 출력됨
                        // card-image 에 onclick 넣어서 상세페이지로 이동하게 만들기

                        let temp_html = `<div class="card-box">
                                            <div class="card-image">
                                                <figure class="image is-4by3">
                                                    <a href="/detail/${postid}">
                                                    <img src="../static/${img}" class="post-img" alt="Placeholder Image" />
                                                </figure>
                                            </div>
                                                <div class="card-content">
                                                    <div class="media" style="padding-bottom: 15px">
                                                        <div class="media-content">
                                                            <p class="post-title">${title}</p>
                                                        </div>
                                                    </div>
                                                    <footer class="card-footer">
{#                                    <!--                    편집 삭제 onclick 지정해주기-->#}
                                                        <p><a href="#" class="card-footer-item" onclick="">Edit</a></p>

                                                        <p><a href="#" class="card-footer-item" onclick="">delete</a></p>
                                                    </footer>
                                                </div>
                                            </div>`
                        $('#card-box').append(temp_html)
                    }
                }
            });
        }
    </script>
</head>
<body>

<div class="hero is-small is-primary">
    <div class="hero-body has-text-centered">
        <h1 class="title is-sparta" style="float:left">MAP</h1>
        <button class="button is-primary is-light" style="float:right">Logout</button>
</div>

<!-- 프로필 영역-->
    <section class="hero is-white">
        <div class="hero-body" style="padding-bottom:1rem;margin:auto;min-width: 400px">
            <article class="media">

                <figure class="media-left" style="align-self: center">
                    <a class="image is-96x96" href="#">
                        <img class="is-rounded" src="static/profile_placeholder.png">
                    </a>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>아이디</strong>
                            <br>
                        </p>
                    </div>

                    <!-- 프로필 수정, 모달부분 : 자기 프로필인 경우만 보임 -->
                    {% if status %}
                    <nav id="btns-me" class="level is-mobile" style="margin-top:2rem">
                        <a class="button level-item has-text-centered is-sparta" aria-label="edit"
                           onclick='$("#modal-edit").addClass("is-active")'>
                            프로필 수정&nbsp;&nbsp;&nbsp;<span class="icon is-small"><i class="fa fa-pencil"
                                                                                   aria-hidden="true"></i></span>
                        </a>
                    </nav>
                    <div class="modal" id="modal-edit">
                        <div class="modal-background" onclick='$("#modal-edit").removeClass("is-active")'></div>
                        <div class="modal-content">
                            <div class="box">
                                <article class="media">
                                    <div class="media-content">
                                        <div class="field">
                                            <label class="label" for="input-pic">프로필 사진</label>

                                            <div class="control is-expanded">
                                                <div class="file has-name">
                                                    <label class="file-label" style="width:100%">
                                                        <input id="input-pic" class="file-input" type="file"
                                                               name="resume">
                                                        <span class="file-cta"><span class="file-icon"><i
                                                                class="fa fa-upload"></i></span>
                                                        <span class="file-label">파일 선택</span>
                                                         </span>

                                                         {# 기본 프로필사진 #}
                                                        <span id="file-name" class="file-name"
                                                              style="width:100%;max-width:100%">{{ user_info.profile_pic }}</span>

                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <nav class="level is-mobile">
                                            <div class="level-left">
                                            </div>
                                            <div class="level-right">
                                                <div class="level-item">
                                                    <a class="button is-sparta" onclick="update_profile()">업데이트</a>
                                                </div>
                                                <div class="level-item">
                                                    <a class="button is-sparta is-outlined"
                                                       onclick='$("#modal-edit").removeClass("is-active")'>취소</a>
                                                </div>
                                            </div>
                                        </nav>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <button class="modal-close is-large" aria-label="close"
                                onclick='$("#modal-edit").removeClass("is-active")'></button>
                    </div>
                    {% endif %}
                </div>
            </article>
        </div>
    </section>
</div>

    <div class="body">
        <div class="mycards" id="card-box">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media" style="padding-bottom: 15px">
                    <div class="media-content">
                        <p class="post-title">Title</p>

                    </div>
                </div>
                <footer class="card-footer">
                    <!--                    편집 삭제 onclick 지정해주기-->
                    <a href="#" class="card-footer-item" onclick="">Edit</a>
                    <a href="#" class="card-footer-item" onclick="">Delete</a>
                </footer>
            </div>
        </div>
    </div>

   </div>
</div>
</body>
</html>

